version: '3.8'
services:

  backend:
    build:
      context: ./
      dockerfile: docker/Dockerfile.backend
  
    environment:
      - DATABASE_URL=postgresql://postgres:mysecretpassword@postgres:5432/postgres
      
    ports:
      - 8080:8080
    depends_on:
      - postgres

  ws:
    build:
      context: ./
      dockerfile: docker/Dockerfile.ws
  
    environment:
      - DATABASE_URL=postgresql://postgres:mysecretpassword@postgres:5432/postgres
      
    ports:
      - 8081:8081
    depends_on:
      - postgres

  frontend:
    build:
      context: ./
      dockerfile: docker/Dockerfile.frontenddev
  
    environment:
      - DATABASE_URL=postgresql://postgres:mysecretpassword@postgres:5432/postgres
      
    ports:
      - 3000:3000
    depends_on:
      - postgres

  postgres:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=mysecretpassword
      
    ports:
      - 5432:5432

    volumes:
      - postgres-data:/var/lib/postgresql


volumes:
  postgres-data: