name: Deploy to ws

on:
  push:
    branches:
      - main # Trigger on pushes to the main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2
        
      - name: Doker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/Dockerfile.ws
          push: true
          tags: mnprtstle/monorepo_ws:${{ github.sha }}

      - name: Deploy to the VM
        run: |
          echo '${{ secrets.SSH_PRIVATE_KEY }}" &> ~/ssh_key
          chmod 700 /home/runner/ssh_key
          ssh -o StrictHostKeyChecking=no -i ~/ssh_key ubuntu@44.192.10.209 -t "docker stop user_ws || true && docker rm user_ws || true && docker run --name user_ws -d -e DATABASE_URL="${{ secrets.DATABASE_URL }}" -p 8081:8081 mnprtstle/monorepo_ws:${{ github.sha }}'